In [2]:
from pyspark.sql import SparkSession
spark = (SparkSession.builder
    .master("local")
    .appName("hw4")
    .getOrCreate())

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/06 22:09:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark

1. Specify the schema for the crime data set. (https://sparkbyexamples.com/pyspark/pyspark-structtype-and-structfield/)
2. Read the file using the schema definition
3. Cache the DataFrame (https://sparkbyexamples.com/spark/spark-dataframe-cache-and-persist-explained/)
4. Show the count of the rows
5. Print the schema
6. Display first 5 rows

Answer following questions using PySpark
1. What are distinct crime codes?
2. Count the number of crimes by the crime codes and order by the resulting counts in descending order
3. Which neighborhood had most crimes?
4. Which month of the year had most crimes?
5. What weapons were used? 
6. Which weapon was used the most?

In [5]:
!head -n100 Part1_Crime_data.csv > sample.csv

In [8]:
!wc < sample.csv

  100   689 18946

In [13]:
df1 = spark.read.csv('sample.csv', header=True, inferSchema=True)

In [14]:
df1.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: integer (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)

In [21]:
df1.schema

StructType(List(StructField(X,DoubleType,true),StructField(Y,DoubleType,true),StructField(RowID,IntegerType,true),StructField(CrimeDateTime,StringType,true),StructField(CrimeCode,StringType,true),StructField(Location,StringType,true),StructField(Description,StringType,true),StructField(Inside_Outside,StringType,true),StructField(Weapon,StringType,true),StructField(Post,IntegerType,true),StructField(District,StringType,true),StructField(Neighborhood,StringType,true),StructField(Latitude,DoubleType,true),StructField(Longitude,DoubleType,true),StructField(GeoLocation,StringType,true),StructField(Premise,StringType,true),StructField(VRIName,StringType,true),StructField(Total_Incidents,IntegerType,true)))

In [18]:
from pyspark.sql.types import *

In [24]:
schema = [StructField("X", DoubleType(), True),
 StructField("Y", DoubleType(), True),
 StructField("RowID", IntegerType(), True),
 StructField("CrimeDateTime", TimestampType(), True),
 StructField("CrimeCode", StringType(), True),
 StructField("Location", StringType(), True),
 StructField("Description", StringType(), True),
 StructField("Inside_Outside", StringType(), True),
 StructField("Weapon", StringType(), True),
 StructField("Post", IntegerType(), True),
 StructField("District", StringType(), True),
 StructField("Neighborhood", StringType(), True),
 StructField("Latitude", DoubleType(), True),
 StructField("Longitude", DoubleType(), True),
 StructField("GeoLocation", StringType(), True),
 StructField("Premise", StringType(), True),
 StructField("VRIName", StringType(), True),
 StructField("Total_Incidents", IntegerType(), True)]

In [35]:
df2 = spark.read.csv('sample.csv', header=True, schema=StructType(schema), timestampFormat='yyyy/MM/dd HH:mm:ssX')

In [36]:
df2.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: timestamp (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: integer (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)

In [38]:
df2.limit(1).toPandas()

,X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents
0,1.421661e+06,593584.491988,1,2021-09-24 08:00:00,6D,500 SAINT PAUL ST APT 118,LARCENY FROM AUTO,None,NA,124,CENTRAL,MOUNT VERNON,39.2959,-76.6137,"(39.2959,-76.6137)",None,None,1

In [39]:
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [40]:
df2.show(1)

+----------------+----------------+-----+-------------------+---------+--------------------+-----------------+--------------+------+----+--------+------------+--------+---------+------------------+-------+-------+---------------+
|               X|               Y|RowID|      CrimeDateTime|CrimeCode|            Location|      Description|Inside_Outside|Weapon|Post|District|Neighborhood|Latitude|Longitude|       GeoLocation|Premise|VRIName|Total_Incidents|
+----------------+----------------+-----+-------------------+---------+--------------------+-----------------+--------------+------+----+--------+------------+--------+---------+------------------+-------+-------+---------------+
|1421661.41979823|593584.491988032|    1|2021-09-24 08:00:00|       6D|500 SAINT PAUL ST...|LARCENY FROM AUTO|          null|    NA| 124| CENTRAL|MOUNT VERNON| 39.2959| -76.6137|(39.2959,-76.6137)|   null|   null|              1|
+----------------+----------------+-----+-------------------+---------+--------------------+-----------------+--------------+------+----+--------+------------+--------+---------+------------------+-------+-------+---------------+
only showing top 1 row

In [41]:
df2.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: timestamp (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: integer (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)

In [42]:
df2.show(5)

+----------------+----------------+-----+-------------------+---------+--------------------+-----------------+--------------+------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+
|               X|               Y|RowID|      CrimeDateTime|CrimeCode|            Location|      Description|Inside_Outside|Weapon|Post| District|  Neighborhood|Latitude|Longitude|       GeoLocation|Premise|VRIName|Total_Incidents|
+----------------+----------------+-----+-------------------+---------+--------------------+-----------------+--------------+------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+
|1421661.41979823|593584.491988032|    1|2021-09-24 08:00:00|       6D|500 SAINT PAUL ST...|LARCENY FROM AUTO|          null|    NA| 124|  CENTRAL|  MOUNT VERNON| 39.2959| -76.6137|(39.2959,-76.6137)|   null|   null|              1|
| 1428629.5288007|592267.242233285|    2|2021-09-23 02:00:00|       6D|   0 N WASHINGTON ST|LARCENY FROM AUTO|          null|    NA| 212|SOUTHEAST|BUTCHER'S HILL| 39.2922| -76.5891|(39.2922,-76.5891)|   null|   null|              1|
|1429981.57761244|593693.887064625|    3|2021-09-23 09:00:00|       6J|   400 N BRADFORD ST|          LARCENY|          null|    NA| 221|SOUTHEAST|MCELDERRY PARK| 39.2961| -76.5843|(39.2961,-76.5843)|   null|   null|              1|
|1433589.46292226|590796.673322926|    4|2021-09-23 18:27:00|       6J|      300 S EAST AVE|          LARCENY|          null|    NA| 225|SOUTHEAST|  HIGHLANDTOWN| 39.2881| -76.5716|(39.2881,-76.5716)|   null|   null|              1|
|1421304.25944155| 591033.33021645|    5|2021-09-23 23:00:00|       6D|      0 S CHARLES ST|LARCENY FROM AUTO|          null|    NA| 114|  CENTRAL|      DOWNTOWN| 39.2889|  -76.615| (39.2889,-76.615)|   null|   null|              1|
+----------------+----------------+-----+-------------------+---------+--------------------+-----------------+--------------+------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+
only showing top 5 rows

In [43]:
df2.limit(5).toPandas()

,X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents
0,1.421661e+06,593584.491988,1,2021-09-24 08:00:00,6D,500 SAINT PAUL ST APT 118,LARCENY FROM AUTO,None,NA,124,CENTRAL,MOUNT VERNON,39.2959,-76.6137,"(39.2959,-76.6137)",None,None,1
1,1.428630e+06,592267.242233,2,2021-09-23 02:00:00,6D,0 N WASHINGTON ST,LARCENY FROM AUTO,None,NA,212,SOUTHEAST,BUTCHER'S HILL,39.2922,-76.5891,"(39.2922,-76.5891)",None,None,1
2,1.429982e+06,593693.887065,3,2021-09-23 09:00:00,6J,400 N BRADFORD ST,LARCENY,None,NA,221,SOUTHEAST,MCELDERRY PARK,39.2961,-76.5843,"(39.2961,-76.5843)",None,None,1
3,1.433589e+06,590796.673323,4,2021-09-23 18:27:00,6J,300 S EAST AVE,LARCENY,None,NA,225,SOUTHEAST,HIGHLANDTOWN,39.2881,-76.5716,"(39.2881,-76.5716)",None,None,1
4,1.421304e+06,591033.330216,5,2021-09-23 23:00:00,6D,0 S CHARLES ST,LARCENY FROM AUTO,None,NA,114,CENTRAL,DOWNTOWN,39.2889,-76.6150,"(39.2889,-76.615)",None,None,1

In [45]:
df2.persist()

21/10/06 22:38:08 WARN CacheManager: Asked to cache already cached data.

DataFrame[X: double, Y: double, RowID: int, CrimeDateTime: timestamp, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: int, District: string, Neighborhood: string, Latitude: double, Longitude: double, GeoLocation: string, Premise: string, VRIName: string, Total_Incidents: int]


1. What are distinct crime codes?
2. Count the number of crimes by the crime codes and order by the resulting counts in descending order
3. Which neighborhood had most crimes?
4. Which month of the year had most crimes?
5. What weapons were used? 
6. Which weapon was used the most?

In [48]:
df2.select('CrimeCode').distinct().sort('CrimeCode').collect()

[Row(CrimeCode='1A'),
 Row(CrimeCode='2A'),
 Row(CrimeCode='3AF'),
 Row(CrimeCode='3B'),
 Row(CrimeCode='3GF'),
 Row(CrimeCode='4A'),
 Row(CrimeCode='4B'),
 Row(CrimeCode='4C'),
 Row(CrimeCode='4D'),
 Row(CrimeCode='4E'),
 Row(CrimeCode='5B'),
 Row(CrimeCode='6C'),
 Row(CrimeCode='6D'),
 Row(CrimeCode='6J'),
 Row(CrimeCode='6L'),
 Row(CrimeCode='7A'),
 Row(CrimeCode='9S')]

In [51]:
from pyspark.sql.functions import *

In [52]:
df2.select('CrimeCode').groupBy('CrimeCode').agg(count('CrimeCode').alias('crime_count')).sort('crime_count', ascending=False).collect()

[Row(CrimeCode='4E', crime_count=25),
 Row(CrimeCode='6D', crime_count=21),
 Row(CrimeCode='4C', crime_count=8),
 Row(CrimeCode='6L', crime_count=7),
 Row(CrimeCode='7A', crime_count=6),
 Row(CrimeCode='5B', crime_count=5),
 Row(CrimeCode='1A', crime_count=4),
 Row(CrimeCode='9S', crime_count=4),
 Row(CrimeCode='3GF', crime_count=4),
 Row(CrimeCode='4B', crime_count=3),
 Row(CrimeCode='3AF', crime_count=3),
 Row(CrimeCode='6C', crime_count=2),
 Row(CrimeCode='4D', crime_count=2),
 Row(CrimeCode='6J', crime_count=2),
 Row(CrimeCode='3B', crime_count=1),
 Row(CrimeCode='2A', crime_count=1),
 Row(CrimeCode='4A', crime_count=1)]

In [53]:
df2.select('Neighborhood').groupBy('Neighborhood').count().sort('count', ascending=False).take(1)

[Row(Neighborhood='DOWNTOWN', count=5)]

In [56]:
df2.groupBy(month(df2.CrimeDateTime)).count().sort('count', ascending=False).select('month(CrimeDateTime)', 'count').collect()

[Row(month(CrimeDateTime)=9, count=99)]

In [57]:
df2.select('Weapon').distinct().show()

+-------+
| Weapon|
+-------+
|     NA|
|  HANDS|
|  KNIFE|
|  OTHER|
|FIREARM|
+-------+

In [59]:
invalid_weapons=['NA', 'OTHER']
df2.filter(~df2.Weapon.isin(invalid_weapons)).select('Weapon').groupBy('Weapon').count().sort('count', ascending=False).show(1)

+-------+-----+
| Weapon|count|
+-------+-----+
|FIREARM|   16|
+-------+-----+
only showing top 1 row

In [60]:
invalid_weapons=['NA', 'OTHER']
df2.filter(~df2.Weapon.isin(invalid_weapons)).select('Weapon').groupBy('Weapon').count().sort('count', ascending=False).explain(True)

== Parsed Logical Plan ==
'Sort ['count DESC NULLS LAST], true
+- Aggregate [Weapon#581], [Weapon#581, count(1) AS count#4592L]
   +- Project [Weapon#581]
      +- Filter NOT Weapon#581 IN (NA,OTHER)
         +- Relation[X#573,Y#574,RowID#575,CrimeDateTime#576,CrimeCode#577,Location#578,Description#579,Inside_Outside#580,Weapon#581,Post#582,District#583,Neighborhood#584,Latitude#585,Longitude#586,GeoLocation#587,Premise#588,VRIName#589,Total_Incidents#590] csv

== Analyzed Logical Plan ==
Weapon: string, count: bigint
Sort [count#4592L DESC NULLS LAST], true
+- Aggregate [Weapon#581], [Weapon#581, count(1) AS count#4592L]
   +- Project [Weapon#581]
      +- Filter NOT Weapon#581 IN (NA,OTHER)
         +- Relation[X#573,Y#574,RowID#575,CrimeDateTime#576,CrimeCode#577,Location#578,Description#579,Inside_Outside#580,Weapon#581,Post#582,District#583,Neighborhood#584,Latitude#585,Longitude#586,GeoLocation#587,Premise#588,VRIName#589,Total_Incidents#590] csv

== Optimized Logical Plan ==
Sort [count#4592L DESC NULLS LAST], true
+- Aggregate [Weapon#581], [Weapon#581, count(1) AS count#4592L]
   +- Project [Weapon#581]
      +- Filter NOT Weapon#581 IN (NA,OTHER)
         +- InMemoryRelation [X#573, Y#574, RowID#575, CrimeDateTime#576, CrimeCode#577, Location#578, Description#579, Inside_Outside#580, Weapon#581, Post#582, District#583, Neighborhood#584, Latitude#585, Longitude#586, GeoLocation#587, Premise#588, VRIName#589, Total_Incidents#590], StorageLevel(disk, memory, deserialized, 1 replicas)
               +- FileScan csv [X#573,Y#574,RowID#575,CrimeDateTime#576,CrimeCode#577,Location#578,Description#579,Inside_Outside#580,Weapon#581,Post#582,District#583,Neighborhood#584,Latitude#585,Longitude#586,GeoLocation#587,Premise#588,VRIName#589,Total_Incidents#590] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/sample.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<X:double,Y:double,RowID:int,CrimeDateTime:timestamp,CrimeCode:string,Location:string,Descr...

== Physical Plan ==
*(3) Sort [count#4592L DESC NULLS LAST], true, 0
+- Exchange rangepartitioning(count#4592L DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [id=#440]
   +- *(2) HashAggregate(keys=[Weapon#581], functions=[count(1)], output=[Weapon#581, count#4592L])
      +- Exchange hashpartitioning(Weapon#581, 200), ENSURE_REQUIREMENTS, [id=#436]
         +- *(1) HashAggregate(keys=[Weapon#581], functions=[partial_count(1)], output=[Weapon#581, count#4866L])
            +- *(1) Filter NOT Weapon#581 IN (NA,OTHER)
               +- InMemoryTableScan [Weapon#581], [NOT Weapon#581 IN (NA,OTHER)]
                     +- InMemoryRelation [X#573, Y#574, RowID#575, CrimeDateTime#576, CrimeCode#577, Location#578, Description#579, Inside_Outside#580, Weapon#581, Post#582, District#583, Neighborhood#584, Latitude#585, Longitude#586, GeoLocation#587, Premise#588, VRIName#589, Total_Incidents#590], StorageLevel(disk, memory, deserialized, 1 replicas)
                           +- FileScan csv [X#573,Y#574,RowID#575,CrimeDateTime#576,CrimeCode#577,Location#578,Description#579,Inside_Outside#580,Weapon#581,Post#582,District#583,Neighborhood#584,Latitude#585,Longitude#586,GeoLocation#587,Premise#588,VRIName#589,Total_Incidents#590] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/sample.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<X:double,Y:double,RowID:int,CrimeDateTime:timestamp,CrimeCode:string,Location:string,Descr...

In [61]:
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/home/jovyan/spark-warehouse')]

In [62]:
spark.catalog.listTables()

[]